
*{
    box-sizing: border-box;
}
body{
    background: powderblue;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}
h1{
    margin:10px;
}
.box{
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px ;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,.4);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}
.box:nth-of-type(even){
    transform: translateX(-400%);

}
.box.show{
    transform: translateX(0);
}